body {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  height: 100vh;
}

header {
  padding: 0.5em 1em;
  background-color: #cccccc;
}

nav {
  display: flex;
  gap: 2em;
}

main {
  flex-grow: 1;
  overflow: auto;
}

footer {
  padding: 0.5em 1em;
  background-color: #aaaaaa;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.map-sheet-container {
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: stretch; */
}

.map-sheet-spacer {
  height: 60vh;
  pointer-events: none;
}

.map-sheet {
  background-color: #dddddd80;
  backdrop-filter: blur(6px);
  padding: 1em;
  border-radius: 2em 2em 0 0;
}