html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  height: 100vh;
}

* {
  font-family: 'Lexend',system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

header {
  padding: 0.5em 1em;
  background-color: #dddddd;
}

nav {
  display: flex;
  gap: 2em;
}

main {
  flex-grow: 1;
  overflow: auto;
}

footer {
  padding: 0.5em 1em;
  background-color: #aaaaaa;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-sheet-container {
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: stretch; */
}

.map-sheet-spacer {
  height: 60vh;
  pointer-events: none;
}

[data-rsbs-overlay] {
  background: #dddddd80;
  backdrop-filter: blur(6px);
}

.map-sheet {
  padding: 2em;
}

#new-post {
  padding: 1em;
  border-radius: 1em;
  margin: 1.5em 0;
  background-color: #00000020;
  transition: background-color ease 0.3s;
}

#new-post:hover {
  background-color: #a0a0a0a0;
}

.nearby-post {
  padding: 1em;
  border-radius: 1em;
  margin: 1.5em 0;
  background-color: #ffffff60;
  transition: background-color ease 0.3s;
}

.nearby-post:hover {
  background-color: #ffffffa0;
}